<div class="bar bar-header bar-dark">
    <h1 class="title">IF on time</h1>
</div>

<div class="bar bar-subheader">
    <h2 class="title">Notificações</h2>
</div>

<ion-content has-header="true" has-subheader="true" has-footer="true">
    <div class="row">
        <div class="col">
            <a href="#" class="button button-outline button-balanced button-block">
                <i class="fa fa-check-square-o"></i>
                Check-in
            </a>
        </div>
        <div class="col">
            <a href="#/nova-notificacao/atraso" class="button button-outline button-assertive button-block">
                <i class="icon ion-ios7-timer-outline"></i>
                Atraso
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <a href="#/nova-notificacao/mudar-local" class="button button-outline button-positive button-block">
                <i class="icon ion-ios7-location"></i>
                Mudar local
            </a>
        </div>
        <div class="col">
            <a href="#" class="button button-outline button-dark button-block">
                <i class="icon ion-log-out"></i>
                Check-out
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <a href="#/nova-notificacao/custom" class="button button-outline button-dark button-block">
                <i class="icon ion-paper-airplane"></i>
                Enviar mensagem
            </a>
        </div>
    </div>
</ion-content>

<div class="bar bar-footer bar-stable">
    <div class="title">♥ from the IF on time team</div>
</div>
