<div class="bar bar-header bar-dark">
    <h1 class="title">IF on time</h1>
</div>

<div class="bar bar-subheader">
    <h2 class="title">Notificações</h2>
</div>

<div class="content has-header has-subheader">
    <div class="row">
        <div class="col">
            <a href="#" class="button button-outline button-balanced button-block">
                <i class="fa fa-check-square-o"></i>
                Check-in
            </a>
        </div>
        <div class="col">
            <a href="#" class="button button-outline button-assertive button-block">
                <i class="fa fa-clock-o"></i>
                Atraso
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <a href="#" class="button button-outline button-positive button-block">
                <i class="fa fa-map-marker"></i>
                Mudar local
            </a>
        </div>
        <div class="col">
            <a href="#" class="button button-outline button-dark button-block">
                <i class="fa fa-road"></i>
                Check-out
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <a href="#" class="button button-outline button-dark button-block">
                <i class="fa fa-file-text"></i>
                Enviar mensagem
            </a>
        </div>
    </div>
</div>

<div class="bar bar-footer bar-stable">
    <div class="title">♥ from the IF on time team</div>
</div>
